<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- EuroFanClub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='classes.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="body-color" style="overflow-x: hidden;">

        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('main.index')}}">Home</a></li>
                <li><a href="{{ url_for('auth.stats') }}">Stats</a></li>
                <li><a href="{{url_for('auth.vote')}}">Vote</a></li>
                {% if not g.user %}
                 <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
                {% if g.user %}
                <li><a href="{{ url_for('auth.profile') }}">My Profile</a></li>
                {% endif %}
            </ul>
            <p style="text-align: right; padding-right: 2%;">
                {% if g.user %}
                    Logged in as: {{ g.user }}
                    <a href="{{ url_for('auth.logout') }}" class="btn btn-warning" style="margin-left: 10px; border: 2px solid black;">Logout</a>
                {% else %}
                {% endif %}
        </p>
        </div>
        <div>
            {% block content %} {% endblock %}
        </div>
        

</body>
</html>

