{% extends 'base.html' %}

{% block title %}Frontpage  {% endblock %}

{% block content %}
   
<div class="center">
    <div class="row full-height-row">
        <div class="col-sm-9" style="padding-top: 2%;">
            <h1>Welcome to the EuroFanClub website</h1>
            <h2>To enter the members section, click login</h2>
            <br>
            <a class="btn btn-primary" href="{{ url_for('auth.login') }}" role="button">Login</a>
            <br>
            <img src="{{ url_for('static', filename='images/eurovision.jpeg') }}" class="img-fluid rounded imgs">
            </div>
        <div class="col-sm-3 right-container" style="padding-top: 2%;">
                <h3>About this page</h3>
                <p>EuroFanClub is an online community for true Eurovision fans. 
                    When logged into the community, you can view EuroVision statistics
                    and vote for your favorite songs for the upcoming 2019 contest. </p>
                <br>
                <p>
                    This site contains information about all winers; from the very first contest back in 1956 when
                    the legendary Lys Assia won for Switzerland. A lot has changed in Eurovision
                    history since then, now a days you don't have to place a telephone call to cast your vote and 
                    more countries has joined, what has turned out to be the biggest song competition in the world.
                </p>
                <br>
                <p>
                    The goal of Eurovision Song Contest stays the same; to unite through music.
                </p>
        </div>
    </div>

        
    
</div>

{% endblock %}