{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="left-div-content-borders">
                <h3><u>Profile overview</u></h3>
                <br>
                <p>Welcome to the EuroFanClub community, <b>{{ user }}</b></p>
                <p>You have voted for {{ votes[0] }} fantastic songs this year!</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="left-div-content-borders">
                <h3>Update profile settings</h3>
                <form method="POST" action="/profile" style="text-align:right">
                    {{ form.hidden_tag() }}
                    {{ form.old_password.label }} {{ form.old_password(size=20) }}<br>
                    {{ form.new_password.label }} {{ form.new_password(size=20) }}<br>
                    {{ form.confirm_new_password.label }} {{ form.confirm_new_password(size=20) }}<br>
                    <input type="submit" value="Apply changes">
           
                <div>
                    <br>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <p>{{messages[0]}}</p>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            </form>


        </div>
        <div class="col-sm-4">
            <div class="left-div-content-borders">
                <h3>Click to delete your user profile</h3>
                <form method="POST" action="/delete" style="text-align:right">
                    <button class="btn btn-primary" type="submit">Delete profile</button>
                </form>
                <div>
        </div>
    </div>
   
{% endblock %}