{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="left-div-content-borders">
                <h1>Update profile settings</h1>
                <form method="POST" action="/profile">
                    {{ form.hidden_tag() }}
                    {{ form.username.label }} {{ form.username(size=20) }}<br>
                    {{ form.password.label }} {{ form.password(size=20) }}<br>
                    <input type="submit" value="update">
            </div>
            </form>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
   
    <div class="row">
        <div class="col-sm-12">
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p>{{messages[0]}}</p>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}