{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="left-div-content-borders">
                <h1>Register a new user</h1>
                <form method="POST" action="/signup" style="text-align:right">
                    {{ form.hidden_tag() }}
                    {{ form.id.label }} {{ form.id(size=20)}}<br>
                    {{ form.username.label }} {{ form.username(size=20) }}<br>
                    {{ form.password.label }} {{ form.password(size=20) }}<br>
                    <input type="submit" value="Create">
                    <div>
                        <br>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <p>{{messages[0]}}</p>
                        {% endif %}
                        {% endwith %}
                    </div>
            </div>
            </form>
        </div>
        <div class="col-sm-8">
        </div>
    </div>

{% endblock %}