{% extends 'base.html' %}

{% block title %}Statistics  {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-9" style="text-align: center;">
        <h1>Statistics</h1>
        <p>Lookup funny eurovision statistics in our database</p>
        <br>
        <div style="border-style: dotted;"">
            <h3><b>10 latests winners</b></h3>
            <p class="center-div-content"><b>Note:</b> Since the dataset goes up until 2020, we assume the last 10 years to be 2009-2018 and the upcoming year to be 2020.</p>
            <p><b>Year | Country | Song Title</b></p>
            {% for tuple in winner_tups %}
            <div>
                <p>{{ tuple[0]}} | {{ tuple[1] }} | {{tuple[2]}}</p>
            </div>
            {% endfor %}
        </div>
        <br>
        <div style="border-style: dotted;"">
            <p>Songs who got 0 points in the final</p>
            <p><b>Year | Country | Song Title </b></p>
            {% for tuple in null_tups %}
            <div>
              <p>{{ tuple[0] }} | {{ tuple[1] }} | {{ tuple[2] }}</p>
            </div>
            {% endfor %}
        </div>
        <br>
        <div style="border-style: dotted;"">
            <form method="POST">
                {{ form.csrf_token }}
                <h3>Enter a year</h3>
                <p>To find the winner from that year</p>
                {{ form.year(size=10) }}
                {{ form.submit }}
                <br>
                {% if qrs %}
                <p>{{(qrs[0])[0]}} won with the song <b>{{(qrs[0])[1]}}</b></p> 
                {% endif %}
            </form>
            <br>
        </div>
      </div>
    </div>
  </div>
{% endblock %}