{% extends 'base.html' %}

{% block title %} Votes for the upcoming contest {% endblock %}

{% block content%}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-9" style="text-align: center;">
        <h1>EuroFanClub members votes for this year</h1>
        <p>Vote for your favourite song!</p>
        <br>
        <div style="border-style: dotted;"">
            <h3><b>Scoreboard</b></h3>
            <p><b> Country | Song Title | Votes </b></p>
            {% for tuple in votes_tups %}
            <div>
                <p>{{ tuple[0]}} | {{ tuple[1] }} | {{tuple[2]}}</p>
            </div>
            {% endfor %}
        </div>
        <br>
        <div style="border-style: dotted;"">
          <h3><b>Add your own vote </b></h3>
          <form method="POST" action="/vote">
            {{ form.csrf_token }}
            {{ form.dropdown.label }}
            {{ form.dropdown }}
            {{ form.dropdown.choice}}
            {{ form.submit }}
          <br>
          </form>
        </div>

        <div class="row">
          <div class="col-sm-12">
              <div>
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                      <p>{{messages[0]}}</p>
                  {% endif %}
                  {% endwith %}
              </div>
          </div>
      </div>

      </div>
    </div>
  </div>
{% endblock %}