<!-- A template such that we can use inheritance -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Jakob Svenningsen, Emily Hoffman">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

        <h1>Common h1 example header for all pages</h1>
    <!-- Using Jinja syntax here, such that we can reuse html skeleton -->
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

</html>