.center {
    text-align: center;
}

.red {
    color: red;
}

.right-container {
    border-left: 1px dotted grey;
}

.margin-top-fixed {
    margin-top: 10px; 
}

.full-height-row {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
  }

  .center-div-content {
    margin-left: 10%;
    margin-right: 10%;
  }

  .left-div-content-borders {
    margin-top: 2%;
    margin-left: 5%;
    border-left: 1px dotted grey;
    border-right: 1px dotted grey;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    padding: 2%;
  }

  .body-color {
    background-color: #cacae9;
    color: #510051;
  }
 
  .left-align {
    text-align: left;
}

  .margin-left {  
    margin-left: 5%;
}
  .navbar {
    top: 0; 
    width: 100%; 
    background-color: #B87333;
    border-bottom: 1px solid black;
  }

