.center {
    text-align: center;
}

.red {
    color: red;
}

.right-container {
    border-left: 1px dotted grey;
}

.margin-top-fixed {
    margin-top: 10px; 
}

.full-height-row {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
  }

  .center-div-content {
    margin-left: 10%;
    margin-right: 10%;
  }

  .left-div-content-borders {
    margin-left: 5%;
    border-left: 1px dotted grey;
    border-right: 1px dotted grey;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    padding: 2%;
  }