ul {
    list-style-type: none;
    margin: 0;
    padding-right: 0%;
    margin-left: 1%;
    margin-top: 2%;
    white-space: nowrap;
}

li {
    display: inline;
    margin-right: 10px;
    border-left: 1px solid black;
    border-left: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
}

h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
}

.navbar a{
    color: white;
  }

  .navbar {
    top: 0; 
    width: 100%; 
    background-color: #3495e5;
    border-bottom: 1px solid black;
  }

  .navbar ul li {
      border-color: white; /* Change the color here */
  }
