{% extends 'base.html' %}

{% block title %}Statistics  {% endblock %}

{% block content %}



<div class="container">
    <div class="row justify-content-center">
      <div class="col-9" style="text-align: center;">
        <h1>Statistics</h1>
        <p>Lookup funny eurovision statistics in our database</p>
        <br>
        <div style="border-style: dotted;"">
            <h3><b>10 latests winners</b></h3>
            <p><b>Year | Country | Song Title</b></p>
            {% for tuple in tups %}
            <div>
                <p>{{ tuple[0]}} | {{ tuple[1] }} | {{tuple[2]}}</p>
            </div>
            {% endfor %}
        </div>
        <br>
        <div style="border-style: dotted;"">
            <p>Songs who got 0 points in the final</p>
        </div>
        <br>
        <div style="border-style: dotted;"">
            <p>Search function, who won in year xxx</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}