{% extends 'base.html' %}

{% block title %}Statistics  {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-9" style="text-align: center;">
        <h1>Statistics</h1>
        <p>Lookup funny eurovision statistics in our database</p>
        <br>
        <div style="border-style: dotted;"">
            <h3><b>10 latests winners</b></h3>
            <p class="center-div-content"><b>Note:</b> Since the dataset goes up until 2020, we assume the last 10 years to be 2010-2019 and the upcoming year to be 2020.</p>
            <p><b>Year | Country | Song Title</b></p>
            {% for tuple in winner_tups %}
            <div>
                <p>{{ tuple[0]}} | {{ tuple[1] }} | {{tuple[2]}}</p>
            </div>
            {% endfor %}
        </div>
        <br>
        <div style="border-style: dotted;"">
            <p>Songs from last who got 0 points in the final</p>
            <!-- TODO: Create a for loop like with winners and display data like we did there -->
        </div>
        <br>
        <div style="border-style: dotted;"">
            <p>Search function, who won in year xxx</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}