{% extends 'base.html' %}

{% block title %} Votes for the upcoming contest {% endblock %}

{% block content%}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-9" style="text-align: center;">
        <h1>EuroFanClub members votes for this year</h1>
        <p>Vote for your favourite song!</p>
        <br>
        <div style="border-style: dotted;"">
            <h3><b>Scoreboard</b></h3>
            <p><b> Country | Song Title | Votes </b></p>
            {% for tuple in votes_tups %}
            <div>
                <p>{{ tuple[0]}} | {{ tuple[1] }} | {{tuple[2]}}</p>
            </div>
            {% endfor %}
        </div>
        <br>
        <div style="border-style: dotted;"">
            <h3><b>Add your own vote </b></h3>
            <label for="dropdown">Select title of the song you love:</label>
                <select id="dropdown" name="dropdown">
                    {% for title in  title_tups%}
                        <option value="{{ option }}">{{ title[0] }}</option>
                    {% endfor %}
            </select>
            <input type="submit" value="Vote">
        <br>
        </div>
      </div>
    </div>
  </div>
{% endblock %}